<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>THE BUTTON</title>
</head>
<body>
    <audio id="click-audio"></audio>
    <audio id="explosion-audio"></audio>
    <section id="leaderboard">
        <% for(let i = 0; i < leaderboard.length; i++){ %>
            <div class="leaderboard-spot">
                <span><%=i+1+". " + leaderboard[i].scores.maxScore %></span>
                <span><%= leaderboard[i].scores.username %></span>
            </div>
            
        <% } %>
    </section>
    <button class="buttonDiv">
        <div id="numbers">
            <h1 id="score"><%= currentScore %></h1>
            <h1 id="maxScore">Maxscore: <%= maxScore %></h1>
        </div>
       
        <section id="visualButton">
            <div class="button-bottom-shadow absolute rounded"></div>
            <div class="button-bottom-shadow-rect absolute"></div>
            <div class="button-bottom absolute rounded"></div>
            <div class="button-click-bottom absolute rounded"></div>
            <div class="button-click-middle-rect absolute boxResize transition "></div>
            <div class="button-click absolute rounded needAnim transition"></div>
        </section>
        
    </button>
    
    <script src="js/main.js"></script>
</body>
</html>