<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>THE BUTTON</title>
</head>
<body>
    <button class="buttonDiv">
        <h1 id="number"><%= currentScore %></h1>
        <h1 id="maxNumber"><%= maxScore %></h1>
        <div class="button-bottom-shadow absolute rounded"></div>
        <div class="button-bottom-shadow-rect absolute"></div>
        <div class="button-bottom absolute rounded"></div>
        <div class="button-click-bottom absolute rounded"></div>
        <div class="button-click-middle-rect absolute boxResize transition "></div>
        <div class="button-click absolute rounded needAnim transition"></div>
    </button>
    
    <script src="js/main.js"></script>
</body>
</html>