<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>THE BUTTON</title>
</head>
<body>
    
    <form action="/changeUsername?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="put" />
        <input type="input" name="username" placeholder="Username">
        <input type="submit">
        <script src="js/login.js"></script>
    </form>
</body>
</html>