
:root{
    --shadow:#7F7F7F;
    --light-shadow:#CDCDCD;
    --top-button:#FF3F33;
    --middle-button:#CD3027;
    --box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    --box-shadow-top: inset 0px -3px 16px rgba(0, 0, 0, 0.3);
    --button-width:58px;
    --button-height:83px;
}

form{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    display:flex;
    flex-flow:column;
}

#text-input{
    font-size:1.5rem;
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .2);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

#username-submit-button{
    
    opacity:100;
}

#buttonDiv{
    position:absolute;
    top:200%;
    left:50%;
    transform:translate(-50%, -50%);
    width:var(--button-width);
    height: var(--button-height); 
    /* sum bullshit */
    
    display:flex;
    justify-content: center;
    flex-flow: wrap;
}
#buttonDiv div{
    pointer-events: none;
}
#buttonDiv input{
    width:var(--button-width);
    height: var(--button-height); 
    margin-top:50%;
    opacity:0;
}

.button-bottom-shadow{
    box-shadow: var(--box-shadow);
    width:100%;
    left:0;
    height: 50%;
    background-color:var(--shadow);
    top:70%;
}
.button-bottom-shadow-rect{
    width:100%;
    left:0;
    height: 7%;
    background-color:var(--shadow);
    top:89%;
}
.button-bottom{
    width:100%;
    height: 50%;
    background-color:var(--light-shadow);
    top:64%;
    left:0;
    box-shadow: var(--box-shadow);
}

.button-click-bottom{
    top:70%;
    width:75%;
    left:12.5%;
    height: 37.5%;
    background-color:var(--middle-button);
    box-shadow: var(--box-shadow);
}
.button-click-middle-rect{
    top:69%;
    width:75%;
    left:12.5%;
    height: 20%;
    background-color:var(--middle-button);
}
.button-click{
    top:50%;
    width:75%;
    left:12.5%;
    height: 37.5%;
    background-color:var(--top-button);
    box-shadow: var(--box-shadow-top);
}

.absolute{
    position:absolute;
}

.rounded{
    border-radius: 50%;
}
.noclick{
    cursor:not-allowed;
    filter:grayscale(50%);
}
.noclick input{
    cursor:not-allowed;
}
.pointer-hover:hover{
    cursor: pointer;
}