:root{
    --shadow:#7F7F7F;
    --light-shadow:#CDCDCD;
    --top-button:#FF3F33;
    --middle-button:#CD3027;
    --box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    --box-shadow-top: inset 0px -3px 16px rgba(0, 0, 0, 0.3);
    --button-width:175px;
    --button-height:250px;
}

/* body */


/* big resuable stuff? */
.grow-clickable{
    transition: all ease 0.2s;
    cursor:pointer;
}
.grow-clickable:hover{
    transform:scale(110%);
}

.buttonDiv{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%) scale(.85);
    transition: all 0.2s ease-out;
    width:var(--button-width);
    height: var(--button-height); 
    /* sum bullshit */
    
    display:flex;
    justify-content: center;
    flex-flow: wrap;
    cursor: pointer;
}
.buttonDiv h1{
    text-wrap: nowrap;
}
.button-bottom-shadow{
    box-shadow: var(--box-shadow);
    width:100%;
    left:0;
    height: 50%;
    background-color:var(--shadow);
    top:70%;
}
.button-bottom-shadow-rect{
    width:100%;
    left:0;
    height: 7%;
    background-color:var(--shadow);
    top:89%;
}
.button-bottom{
    width:100%;
    height: 50%;
    background-color:var(--light-shadow);
    top:64%;
    left:0;
    box-shadow: var(--box-shadow);
}

.button-click-bottom{
    top:70%;
    width:75%;
    left:12.5%;
    height: 37.5%;
    background-color:var(--middle-button);
    box-shadow: var(--box-shadow);
}
.button-click-middle-rect{
    top:69%;
    width:75%;
    left:12.5%;
    height: 20%;
    background-color:var(--middle-button);
}
.button-click{
    top:50%;
    width:75%;
    left:12.5%;
    height: 37.5%;
    background-color:var(--top-button);
    box-shadow: var(--box-shadow-top);
}

.buttonClickAnimation{
    transform: translateY(20%);
}

.shake0{
    animation:tilt-shaking-right 0.3s;
}

.shake1{
    animation:tilt-shaking-left 0.3s;
}

.transition{
    transition:all 0.3s ease, border-radius 0s;
}

.boxResizeAnimation{
    transform: translateY(50%);
    height:13%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.absolute{
    position:absolute;
}

.rounded{
    border-radius: 50%;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#numbers{
    font-size:1rem;
}

#visualButton{
    margin-top:60%;
    width:100%;
    height:100%;
}

/* OKAY THIS IS THE MOTHER FLIPPING AREA FOR LEADERBOARD CSS B) */
/* OKAY THIS IS THE MOTHER FLIPPING AREA FOR LEADERBOARD CSS B) */
/* OKAY THIS IS THE MOTHER FLIPPING AREA FOR LEADERBOARD CSS B) */
/* OKAY THIS IS THE MOTHER FLIPPING AREA FOR LEADERBOARD CSS B) */

#leaderboard{
    padding: 20% 0 0 20%;
    overflow-y:scroll;
    height:25%;
}

/* setting images */
#settings img {
    width: 12%;
}
#settings{
    position:absolute;
    left:5;
    bottom:5;
}



/* ANIMS  */
@keyframes tilt-shaking-right {
    0% { transform: rotate(0deg) translateY(-97%); }
    25% { transform: rotate(2deg) translateY(-97%); }
    50% { transform: rotate(0deg) translateY(-97%); }
    75% { transform: rotate(-2deg) translateY(-97%); }
    100% { transform: rotate(0deg) translateY(-97%); }
  }

  @keyframes tilt-shaking-left {
    0% { transform: rotate(0deg) translateY(-97%); }
    25% { transform: rotate(-2deg) translateY(-97%); }
    50% { transform: rotate(0deg) translateY(-97%); }
    75% { transform: rotate(2deg) translateY(-97%); }
    100% { transform: rotate(0deg) translateY(-97%); }
  }
/* END ANIMS */